@font-face {
  font-family: Lato;
  src:
    url(../fonts/lato.ttf),
    url(../fonts/lato.svg),
    url(../fonts/lato.eot),
    url(../fonts/lato.woff);
}

html {
  position: relative;
  min-height: 100%;
}


body {
  padding-top: 50px;
  margin-bottom: 60px;
}

h1, h2, p{
  font-family: Lato;
}

p.intro {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Lato;
  width:100%;
  font-size: 1.7em;
  text-align: center;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.carousel-inner > .item > img {
  min-width: 100%
}


.navbar-inverse .navbar-brand, .navbar .nav > li.blue > a {
  color: #4285f4;
}

.navbar .nav > li.green > a {
  color: #23a853;
}

.navbar .nav > li.yellow > a {
  color: #fbbc05;
}

.navbar .nav > li.red > a {
  color: #ea4335;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: white;
}

.row {
  margin-left: 5%;
  margin-top: 40px;
  margin-bottom: 60px;
}

.image {
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* fixed height of the footer */
  height: 60px;
  background-color: #cce5ff;
}


.text-muted {
  margin: 20px 0;
}
